body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.header_conteiner {
    width: 1280px;
    margin: 0 auto;
    padding: 63px 100px 48px;
}

.logo_link {
    display: inline-block;
    height: 79px;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
    padding-bottom: 40px;
}

.logo_link_span {
    display: inline-block;
    height: 79px;
    color: #4BCAFF;
    padding-bottom: 40px;
}

.header_nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    height: 69px;
}

.header_item_link {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_link_functional {
    width: 266px;
    padding: 24px 32px 18px;
    border-left: 1px solid #FFFFFF;
}

.header_link_functional:hover {
    background: #222F3A;
    padding: 24px 32px 18px;
}

.header_link_ramda {
    width: 77px;
    padding: 24px 38px 18px;
    border-left: 1px solid #FFFFFF;
}

.header_link_ramda:hover {
    background: #222F3A;
    padding: 26px 38px 19px;
}

.header_link_fantasy {
    width: 204px;
    padding: 24px 40px 18px;
    border-left: 1px solid #FFFFFF;
}

.header_link_fantasy:hover {
    background: #222F3A;
    padding: 24px 40px 18px;
}

.header_link_node {
    width: 163px;
    padding: 24px 18px 18px 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.header_link_node:hover {
    background: #222F3A;
    padding: 24px 18px 18px 40px;
}

.main_conteiner {
    width: 1280px;
    margin: 0 auto;
    padding: 0 100px 0;
}

.main_content {
    display: flex;
    flex-direction: row;
}

.aside_menu {
    padding: 0 52px 484px 0;
}

.aside_menu_list {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 399px;
    box-sizing: border-box;
    border: 1px solid #000000;
    overflow: hidden;
}

.aside_item_link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    width: 100%;
    height: 79px;
    padding-left: 40px;
    color: #495863;
    text-decoration: none;
}

.aside_item_link:hover {
    background: #DBDBDB;
    padding-left: 60px;
}

.main_section {
    display: flex;
    flex-direction: column;
}

.main_img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}

.image {
    width: 320px;
    height: 381px;
    transition: 2s;
}

.image:hover {
    transform: scale(1.2);
}

.main_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.main_paragraph_one {
    padding-top: 37px;
}

.main_paragraph_two {
    padding-top: 34px;
    border-bottom: 54px;
}

.footer_conteiner {
    width: 1280px;
    margin: 0 auto;
    padding: 0 100px 30px;
}

.footer_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

.footer_nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 875px;
    padding-left: 40px;
    padding-right: 135px;
}

.footer_item_link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
}

.footer_item_link:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copy {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    width: 190px;
    color: #010101;
    padding-right: 40px;
}